<a href="https://colab.research.google.com/github/ArminD93/OpenExoplanetCatalogue/blob/dev/OpenExoplanetCatalogue.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(style="ticks", color_codes=True)

planets = pd.read_csv('/content/drive/My Drive/ColabNotebooks/OpenExoplanetCatalogue/datasets/oec.csv', low_memory=False)
planets.head()

  PlanetIdentifier  TypeFlag  ...  HostStarAgeGyr    ListsPlanetIsOn
0      HD 143761 b         0  ...             NaN  Confirmed planets
1      HD 143761 c         0  ...             NaN  Confirmed planets
2      KOI-1843.03         0  ...             NaN      Controversial
3      KOI-1843.01         0  ...             NaN      Controversial
4      KOI-1843.02         0  ...             NaN      Controversial

[5 rows x 25 columns]

In [2]:
planets.shape

(3584, 25)

In [3]:
planets.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3584 entries, 0 to 3583
Data columns (total 25 columns):
PlanetIdentifier        3584 non-null object
TypeFlag                3584 non-null int64
PlanetaryMassJpt        1313 non-null float64
RadiusJpt               2774 non-null float64
PeriodDays              3485 non-null float64
SemiMajorAxisAU         1406 non-null float64
Eccentricity            1108 non-null float64
PeriastronDeg           328 non-null float64
LongitudeDeg            43 non-null float64
AscendingNodeDeg        46 non-null float64
InclinationDeg          665 non-null float64
SurfaceTempK            741 non-null float64
AgeGyr                  2 non-null float64
DiscoveryMethod         3521 non-null object
DiscoveryYear           3574 non-null float64
LastUpdated             3576 non-null object
RightAscension          3574 non-null object
Declination             3574 non-null object
DistFromSunParsec       2133 non-null float64
HostStarMassSlrMass     3416 non-null float64
HostStarRadiusSlrRad    3263 non-null float64
HostStarMetallicity     2509 non-null float64
HostStarTempK           3455 non-null float64
HostStarAgeGyr          517 non-null float64
ListsPlanetIsOn         3584 non-null object
dtypes: float64(18), int64(1), object(6)
memory usage: 1.9 MB

In [42]:
print('{} '.format(planets['DiscoveryMethod'].value_counts()))
print('-'*100)
print('{} '.format(planets['LastUpdated'].value_counts()))
print('-'*100)
print('{} '.format(planets['RightAscension'].value_counts()))
print('-'*100)
print('{} '.format(planets['Declination'].value_counts()))
print('-'*100)
print('{} '.format(planets['ListsPlanetIsOn'].value_counts()))

transit         2712
RV               692
imaging           52
microlensing      40
timing            25
Name: DiscoveryMethod, dtype: int64
----------------------------------------------------------------------------------------------------
16/05/10    1283
14/02/26     726
11/09/12      38
14/02/24      34
15/12/03      25
            ...
11/07/06       1
14/03/18       1
11/10/28       1
16/06/02       1
10/12/10       1
Name: LastUpdated, Length: 505, dtype: int64
----------------------------------------------------------------------------------------------------
01 37 54          9
19 16 18          7
19 19 26          7
23 06 30.34       7
17 18 57          7
                 ..
19 16 44          1
05 07 55.76384    1
19 06 31          1
19 26 58          1
18 17 29          1
Name: RightAscension, Length: 2358, dtype: int64
----------------------------------------------------------------------------------------------------
-60 30 42       9
-34 59 23       8
+38 20 37       7
+49 18 19       7
-05 02 36.44    7
               ..
+46 43 47       1
+47 28 09       1
+48 57 19       1
+18 38 45       1
+38 34 22       1
Name: Declination, Length: 2592, dtype: int64
----------------------------------------------------------------------------------------------------
Confirmed planets                                                                     3295
Confirmed planets, Planets in binary systems, S-type                                   135
Controversial                                                                           72
Confirmed planets, Planets in binary systems, P-type                                    21
Controversial, Planets in binary systems, S-type                                        20
Confirmed planets, Planets in open clusters                                             13
Solar System                                                                             9
Controversial, Planets in binary systems, P-type                                         7
Kepler Objects of Interest                                                               4
Retracted planet candidate                                                               4
Confirmed planets, Orphan planets                                                        2
Planets in binary systems, S-type, Confirmed planets                                     1
Confirmed planets, Planets in binary systems, P-type, Planets in globular clusters       1
Name: ListsPlanetIsOn, dtype: int64

In [43]:
planets['DiscoveryMethod'] = planets['DiscoveryMethod'].astype('category')
planets['LastUpdated'] = planets['LastUpdated'].astype('category')
planets['DiscoveryMethod'] = planets['DiscoveryMethod'].astype('category')
planets['RightAscension'] = planets['RightAscension'].astype('category')
planets['Declination'] = planets['Declination'].astype('category')
planets['ListsPlanetIsOn'] = planets['ListsPlanetIsOn'].astype('category')

planets.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3584 entries, 0 to 3583
Data columns (total 25 columns):
PlanetIdentifier        3584 non-null object
TypeFlag                3584 non-null int64
PlanetaryMassJpt        1313 non-null float64
RadiusJpt               2774 non-null float64
PeriodDays              3485 non-null float64
SemiMajorAxisAU         1406 non-null float64
Eccentricity            1108 non-null float64
PeriastronDeg           328 non-null float64
LongitudeDeg            43 non-null float64
AscendingNodeDeg        46 non-null float64
InclinationDeg          665 non-null float64
SurfaceTempK            741 non-null float64
AgeGyr                  2 non-null float64
DiscoveryMethod         3521 non-null category
DiscoveryYear           3574 non-null float64
LastUpdated             3576 non-null category
RightAscension          3574 non-null category
Declination             3574 non-null category
DistFromSunParsec       2133 non-null float64
HostStarMassSlrMass     3416 non-null float64
HostStarRadiusSlrRad    3263 non-null float64
HostStarMetallicity     2509 non-null float64
HostStarTempK           3455 non-null float64
HostStarAgeGyr          517 non-null float64
ListsPlanetIsOn         3584 non-null category
dtypes: category(5), float64(18), int64(1), object(1)
memory usage: 1.3 MB