<a href="https://colab.research.google.com/github/ArminD93/OpenExoplanetCatalogue/blob/master/OpenExoplanetCatalogue.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(style="ticks", color_codes=True)

planets = pd.read_csv('/content/drive/My Drive/ColabNotebooks/OpenExoplanetCatalogue/datasets/oec.csv', low_memory=False)
planets.head()

  PlanetIdentifier  TypeFlag  ...  HostStarAgeGyr    ListsPlanetIsOn
0      HD 143761 b         0  ...             NaN  Confirmed planets
1      HD 143761 c         0  ...             NaN  Confirmed planets
2      KOI-1843.03         0  ...             NaN      Controversial
3      KOI-1843.01         0  ...             NaN      Controversial
4      KOI-1843.02         0  ...             NaN      Controversial

[5 rows x 25 columns]

In [2]:
planets.shape

(3584, 25)

In [3]:
planets.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3584 entries, 0 to 3583
Data columns (total 25 columns):
PlanetIdentifier        3584 non-null object
TypeFlag                3584 non-null int64
PlanetaryMassJpt        1313 non-null float64
RadiusJpt               2774 non-null float64
PeriodDays              3485 non-null float64
SemiMajorAxisAU         1406 non-null float64
Eccentricity            1108 non-null float64
PeriastronDeg           328 non-null float64
LongitudeDeg            43 non-null float64
AscendingNodeDeg        46 non-null float64
InclinationDeg          665 non-null float64
SurfaceTempK            741 non-null float64
AgeGyr                  2 non-null float64
DiscoveryMethod         3521 non-null object
DiscoveryYear           3574 non-null float64
LastUpdated             3576 non-null object
RightAscension          3574 non-null object
Declination             3574 non-null object
DistFromSunParsec       2133 non-null float64
HostStarMassSlrMass     3416 non-null float64
HostStarRadiusSlrRad    3263 non-null float64
HostStarMetallicity     2509 non-null float64
HostStarTempK           3455 non-null float64
HostStarAgeGyr          517 non-null float64
ListsPlanetIsOn         3584 non-null object
dtypes: float64(18), int64(1), object(6)
memory usage: 1.9 MB